body {
    background: #000a2d;
    font-family: poppins;
    padding: 0;
    margin: 0;
    color: #fff;
    min-height: 80vh;
    display: grid;
    place-items: center;
    align-items: center;
    overflow-x: hidden;

}

.h1,
.say-hello h1 {
    background: linear-gradient(90deg, #073cff, #00ffd9, #ff9100);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    text-transform: uppercase;

}

section {
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    text-align: center;
    height: 700px;
    margin-bottom: 10%;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 1s;
}


.footer:hover a {
    color: #0ff;
    text-transform: uppercase;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    translate: -100% 0;
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    translate: 0 0;
}

.logos {
    display: flex;
    border-radius: 12px;
    padding: 1rem;
}

.logo {
    background: #010a5052;
    padding: 1rem;
    border-radius: 12px;
    margin: 0 10px;
}

.shadow {
    box-shadow: 0 30px 70px cyan;
    transition: box-shadow 700ms ease 500ms;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
    transition: all 1s;
    filter: saturate(120%);
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.logo:nth-child(5) {
    transition-delay: 800ms;
}

.say-hello {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 1.3rem 0;
    z-index: 9;
    width: 100%;
    text-transform: uppercase;
    border: none !important;
    backdrop-filter: blur(12px);
    transition: all 1s;
}

::-webkit-scrollbar {
    width: 8px;
    background: #000a2d;
}

::-webkit-scrollbar-thumb {
    background: #0026ff5b;
    border-radius: 12px;
}

@media (max-width:921px) {
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo:nth-child(5) {
        display: none
    }

    .h1 {
        margin-right: 10px;
        border-right: 2px solid #FFFFFF;
    }

    .logos h1 {
        position: absolute;
        top: -30px;
        z-index: 9;
        background: #000a2d;
        border-radius: 12px;
        font-weight: lighter;
    }
}

@media (max-width:670px) {
    .logo {
        margin: 0 5px;
        padding: .5rem;
    }

    .logo img {
        width: 80px;
        height: 80px;
        transition: all 1s;
    }

    .say-hello {
        padding: .1rem 0;
    }
}

@media (max-width:463px) {
    section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80% !important;
    }

    .h1 {
        border-right: 0;
    }

    .logos,
    .logo {
        padding: 5px;
    }

    .logos h1 {
        font-size: small;
        padding: 5px;
        border-radius: 8px;
    }

    .logo img {
        width: 70px;
        height: 70px;
    }
}

@media (min-width:922px) {
    p {
        font-size: 1.4rem;
        word-spacing: 2px;
    }
}

.togit {
    position: fixed;
    right: 1em;
    bottom: 3em;
    background: #000;
    z-index: 9999;
    padding: 10px;
    box-shadow: -3px -3px 5px #00105b, 5px 5px 5px #000;
    border-radius: 10px;
    transition: all 400ms ease;
    filter: brightness(120%);
    translate: 0 100px;
    animation: show-git 3s 1s cubic-bezier(0.22, 0.61, 0.26, 0.74) forwards;
}

.togit a {
    font-weight: bold;
    font-size: small;
    letter-spacing: 1.2px;
    appearance: none;
    border: none;
    background: linear-gradient(90deg, #0084ff, #d803b1, #ff6f00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

@keyframes show-git {
    50% {
        translate: 0 -100px;
        scale: 1.2;
    }

    100% {
        translate: 0 0;
    }
}

@media (max-width:550px) {
    .togit {
        padding: 5px;
        right: 5px;
    }

    .togit a {
        font-size: smaller;
        letter-spacing: 0;
    }
}

.togit:hover {
    scale: 1.1;
    transition: all 400ms ease;
}

.togit:active {
    scale: 0.9;
}